@import "style/_variables.scss";

.home {
  padding: 0 10%;
}

.title {
  text-align: center;
  font-weight: $font-thin;
  font-size: $heading-2-font-size;
  color: $color-gray;
  padding: 50px 0;
}

@media screen and (max-width: $bp-sm) {
	.home {
    display: flex;
    flex-direction: column;
    align-items: center;
	}
}
