@import "style/_variables.scss";

.selection {
	position: relative;
}

.checkbox {
	position: absolute;
	bottom: 20px;
	right: 20px;

	-webkit-appearance: none;
	width: 45px;
  height: 45px;
	border-radius: 50%;
	border: 3px solid #ffffff;
	cursor: pointer;

  &:checked {
		border-color: $color-primary;
		background-color: $color-primary;
	}

}

.thumbnail {
	width: 470px;
	height: 300px;
	border-radius: 10px;
}

.caption {
  text-align: center;
	color: $color-gray;
	font-size: larger;
	font-weight: $font-bold;
}
